/**
 * This file provides styles for the general layout structure.
 *
 * @author Ryan Schram based on Starter by Anika Henke 
 * <anika@selfthinker.org>
 * 
 * Besides queries, the main changes have to do with the altered 
 * hierarchy in main.php. Regions occur in a logical reading order, 
 * and the layout follows from this. 
 */

body {
    margin: 0;
}
#dokuwiki__site {
    margin: 0 auto;
    width: 100%; 
    max-width: __site_width__;
    padding: 0;
}

#dokuwiki__header {
    width: __site_width__;
}
#dokuwiki__header > .pad {
    padding: 1em; 
}


#dokuwiki__site .wrapper {
    width: 100%; 
}

    #dokuwiki__aside {
        width: 100%;
        display: block;
    }
    #dokuwiki__aside > .pad {
        padding: 1em; 
    }

    #dokuwiki__tools { 
	width: 100%;
	display: block; 
    } 

    #dokuwiki__tools > .tools { 
	padding: 1em; 
    } 

    #dokuwiki__content { 
	width: 100%; 
	display: block; 
    } 
    #dokuwiki__content > .pad { 
	padding: 1em; 
    } 
    /* make content wider when there's no sidebar */
    .hasSidebar #dokuwiki__content {
        width: 100%;
	display: block; 
    }
    .hasSidebar #dokuwiki__content > .pad {
	padding: 1em; 
    }

    #dw__toc { 
	margin: 0; padding: 0; width: 100%; 
    } 
    #dw__toc h3 { 
	padding: 1em 1em 0em 1em 
    }
    #dw__toc .toc { 
	padding: 1em; 
    } 

#dokuwiki__footer {
    clear: both;
    width: 100%;
    display: block; 
}
#dokuwiki__footer > .pad {
    padding: 1em; 
}

/* Medium */ 
@media (min-width: 600px) and (max-width: 999px) { 


#dokuwiki__header {
    width: 100%;
}
#dokuwiki__header > .pad {
    padding: 1em; 
}


#dokuwiki__site .wrapper {
    margin: auto; 
    width: 100%; 
    max-width: __med_page_width__
}

    #dokuwiki__aside {
        width: 32%;
	float: right;
	clear: right;
        display: block;
    }
    #dokuwiki__aside > .pad {
        padding: 1em; 
    }

    #dokuwiki__tools { 
	width: 32%;
	float: right;
 
	display: block; 
    } 

    #dokuwiki__tools > .tools { 
	padding: 1em; 
    } 

    #dokuwiki__content { 
	width: 68%; 
	float: left; 
	display: block; 
    } 
    #dokuwiki__content > .pad { 
	padding: 1em; 
    } 
    /* make content wider when there's no sidebar */
    .hasSidebar #dokuwiki__content {
        width: 68%;
	float: left; 
	display: block; 
    }
    .hasSidebar #dokuwiki__content > .pad {
	padding: 1em; 
    }
    #dw__toc { 
	margin: 0 0 1.5em 1.5em; padding: 0; width: 12em; float: right; 
    } 
    #dw__toc h3 { 
	padding: 1em 1em 0em 1em 
    }
    #dw__toc .toc { 
	padding: 1em; 
    } 

#dokuwiki__footer {
    clear: both;
    width: 100%;
    display: block; 
}
#dokuwiki__footer > .pad {
    padding: 1em; 
}



} 

/* Large */ 
@media (min-width: 1000px) and (max-width: 1799px) { 


#dokuwiki__header {
    width: 100%;
}
#dokuwiki__header > .pad {
    padding: 1em; 
}


#dokuwiki__site .wrapper {
    width: 100%; 
    max-width: __max_page_width__; 
    margin: auto; 
}

    #dokuwiki__aside {
        width: 20%;
	float: left; 
        display: block;
    }
    #dokuwiki__aside > .pad {
        padding: 1em; 
    }

    #dokuwiki__tools { 
	width: 20%;
	float: left; 
	display: block; 
    } 

    #dokuwiki__tools > .tools { 
	padding: 1em 1em 1em 1.5em; 
    } 

    #dokuwiki__content { 
	width: 80%; 
	float: left; 
	display: block; 
    } 
    #dokuwiki__content > .pad { 
	padding: 1em; 
    } 
    /* make content wider when there's no sidebar */
    .hasSidebar #dokuwiki__content {
        width: 60%;
	float: left; 
	display: block; 
    }
    .hasSidebar #dokuwiki__content > .pad {
	padding: 1em; 
    }
    #dw__toc { 
	margin: 0 0 1.5em 1.5em; padding: 0; width: 12em; float: right; 
    } 
    #dw__toc h3 { 
	padding: 1em 1em 0em 1em 
    }
    #dw__toc .toc { 
	padding: 1em; 
    } 

#dokuwiki__footer {
    clear: both;
    width: 100%;
    display: block; 
}
#dokuwiki__footer > .pad {
    padding: 1em; 
}




}


/* Jumbo */ 
@media (min-width: 1800px) { 
#dokuwiki__header {
    width: 20%;
   /* float: left; */
    position: fixed; 
}
#dokuwiki__header > .pad {
    padding: 1em; 
}


#dokuwiki__site .wrapper {
    width: 60%; 
    margin-left: 20%; 
    float: left; 
} 

    #dokuwiki__aside {
        width: 18%;
	float: left; 
        display: block;
    }
    #dokuwiki__aside > .pad {
        padding: 1em; 
    }

    #dokuwiki__tools { 
	width: 18%;
	float: left; 
	display: block; 
    } 

    #dokuwiki__tools > .tools { 
	padding: 1em 1em 1em 1.5em;
    } 

    #dokuwiki__content { 
	width: 82%; 
	float: left; 
	display: block; 
    } 
    #dokuwiki__content > .pad { 
	padding: 1em; 
    } 
    /* make content wider when there's no sidebar */
    .hasSidebar #dokuwiki__content {
        width: 64%;
	float: left; 
	display: block; 
    }
    .hasSidebar #dokuwiki__content > .pad {
	padding: 1em; 
    }
    #dw__toc { 
	margin: 0 0 1.5em 1.5em; padding: 0; width: 12em; float: right; 
    } 
    #dw__toc h3 { 
	padding: 1em 1em 0em 1em 
    }
    #dw__toc .toc { 
	padding: 1em; 
    } 


#dokuwiki__footer {
    clear: none; 
    float: left; 
    width: 20%;
}
#dokuwiki__footer > .pad {
    padding: 1em; 
}




} 
