/**
 * This file provides style changes for small screens.
 *
 * @author Anika Henke <anika@selfthinker.org>
 */



#dokuwiki__header ul.a11y.skip {
    left: auto !important;
    right: 1em !important;
    top: 3.1em !important;
    width: auto !important;
    height: auto !important;
    list-style: none;
    padding: 0;
    margin: 0;
}
[dir=rtl] #dokuwiki__header ul.a11y.skip {
    right: auto !important;
    left: 1em !important;
}
